.Services {
  width: 80%;
  max-width: 1200px;
  margin: 70px auto;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 1045px) {
    flex-direction: column;
  }
}

.Services__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (max-width: 600px) {
    align-items: center;
    text-align: center;
  }
}

.Services__service {
  margin: 25px 0;

  p {
    opacity: 0.5;
    color: #000;
    line-height: 20px;
    margin: 0;
    transition: 200ms;
    max-width: 650px;
  }

  p:hover {
    opacity: 0.8;
  }
}

.CTA_color {
  display: flex;
  flex-direction: row;
  background-color: #699ff6;
  color: #fff;
  margin-top: 10px;
}

.Services__livefeed {
  width: 472px;
  min-width: 472px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  margin-left: 25px;

  @media screen and (max-width: 1045px) {
    width: 100%;
    margin: 50px 0;
    min-width: 0;
  }
}
