.Services {
  width: 80%;
  max-width: 1200px;
  margin: 80px auto;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1045px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width: 600px) {
    width: 85%;
    margin: 20px auto;
  }
}

.Services__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (max-width: 600px) {
    align-items: flex-start;
    text-align: left;
    margin: 100px 0 30px;
  }
}

.Services__service {
  margin: 25px 0;

  p {
    opacity: 0.5;
    color: #000;
    line-height: 20px;
    margin: 0;
    transition: 200ms;
    max-width: 650px;
  }
}

.CTA_color {
  display: flex;
  flex-direction: row;
  background-color: #699ff6;
  color: #fff;
  margin-top: 10px;
}

.Services__results {
  width: 472px;
  min-width: 472px;
  margin-left: 25px;
  padding: 0;

  @media screen and (max-width: 1045px) {
    width: 100%;
    min-width: 0;
    margin: 50px 0 0;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
    min-width: 0;
    margin: 20px 0;
  }

  .Services__result {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    width: 100%;
    height: 60px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: 200ms ease-out;

    img {
      height: 50%;
      width: auto;

      @media screen and (max-width: 600px) {
        height: 40%;
      }

      @media screen and (max-width: 400px) {
        height: 30%;
      }
    }

    h4 {
      font-size: 16px;
      color: #3ecf8e;
      cursor: default;

      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }

    h5 {
      font-family: 'Open Sans', Helvetica, sans-serif;
      font-size: 14px;
      font-style: italic;
      color: #9b9b9b;
      cursor: default;

      @media screen and (max-width: 600px) {
        font-size: 10px;
      }
    }

    span {
      color: #4a4a4a;
      font-weight: 700;
      font-style: normal;
      margin: 0 5px;
      cursor: default;

      @media screen and (max-width: 600px) {
        margin: 0 2px;
        font-size: 12px;
      }
    }
  }

  .Services__result:hover {
    transform: scale(1.02);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
}
