h1 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: $color-white;
  letter-spacing: -1.25px;
  margin: 0;
}

h2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color: #4a4a4a;
  letter-spacing: -1px;
  margin: 0;

  @media screen and (max-width: 600px) {
    font-size: 20px;
  }
}

h3 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: #f5a623;
  font-weight: lighter;
  letter-spacing: -0.67px;
  margin: 0;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

h4 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  font-weight: 700;
  letter-spacing: -0.25px;
  margin: 0;
}

h5 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  font-weight: lighter;
  letter-spacing: -0.67px;
  margin: 0;
}

span {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: #699ff6;
  font-weight: lighter;
  letter-spacing: -0.67px;
  margin: 0;
}

a {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

p {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  letter-spacing: -0.25px;
  line-height: 20px;
  font-weight: 300;
  cursor: default;
}

li {
  list-style: none;
}
