/* stylelint-disable */
.Headings {
  width: 100%;
  z-index: 0;
}
.Headings__background {
  position: absolute;
  background-image: url('./assets/background.svg');
  left: 0;
  top: 0;
  width: 100vw;
  height: 1181px;
  object-fit: cover;
  z-index: 0;
}
.Headings__wrapper {
  position: relative;
  width: 100%;
  left: 0;
  height: 60vh;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  @media screen and (max-width: 560px) {
    height: 40vh;
  }

  @media screen and (max-width: 360px) {
    height: 45vh;
  }
}
.Headings__container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media screen and (max-width: 560px) {
    align-items: center;
  }

  h1 {
    @media screen and (max-width: 560px) {
      text-align: center;
      font-size: 24px !important;
    }  
  }

  p {
    max-width: 600px;
    margin: 20px 0;
    @media screen and (max-width: 1045px) {
      max-width: 100%;
    }
    @media screen and (max-width: 560px) {
      text-align: center;
    }
  }

  a {
    margin-top: 10px;
  }
}

.CTA_color {
  background-color: #fff;
  color: #477fbc;
}
